:root {
    --heliotrope: rgba(232, 102, 236, 1);
}

body {
    background-color: rgb(46, 44, 44);
}

.page-title {
    display: flex;
    justify-content: center;
    color: var(--heliotrope);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 20px;
}

.card-column {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    border-style: dashed;
    border-color:#fff;
    border-width: 2px;
}

.card-header {
    display: flex;
    position: relative;
    flex: 0 0 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color:#fff;
    color: var(--heliotrope);
    margin-top: -45px;
    background-color: rgb(46, 44, 44);
    padding-left: 10px;
}

.card-body {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 0 0 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--heliotrope)
}

.code-block {
    display: flex;
    flex-direction: flex-end;
    flex: 0 0 100%;
    padding: 5px;
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%,
     rgba(232, 102, 236, 0.6) 100%);
     border-radius: 8px;
     color: #fff;
     user-select: all;
}

.code-block:hover {
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
    transition: all 0.5s ease-in-out;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--heliotrope);
    font-size: 28px;
    display: flex;
    justify-content: center;
}




